<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CHRobinson.Enterprise.Logging" version="1.1.15231.203" targetFramework="net452" />
  <package id="CHRobinson.Enterprise.Logging.Log4Net" version="1.1.15231.203" targetFramework="net452" />
  <package id="log4net" version="2.0.4" targetFramework="net452" />
  <package id="log4net.ElasticSearch" version="2.1.2" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.22.9-build00167" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.0.0" targetFramework="net452" />
  <package id="ServiceStack" version="4.0.62" targetFramework="net452" />
  <package id="ServiceStack.Api.Swagger" version="4.0.62" targetFramework="net452" />
  <package id="ServiceStack.Client" version="4.0.62" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.0.62" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.0.62" targetFramework="net452" />
  <package id="ServiceStack.Logging.Log4Net" version="4.0.62" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.0.62" targetFramework="net452" />
</packages>