<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="servicestack:license" value="3799-e1JlZjozNzk5LE5hbWU6Q0ggUm9iaW5zb24gV29ybGR3aWRlLFR5cGU6QnVzaW5lc3MsSGFzaDptS2NsQTZIb3pmam83cWF4eWMzQzh4eXg1bVBBTmNaMmZwdlV0ZFVWeDhnVGZCRlRMeG40R3ArM0ZydDJ3QlBKWDJKY2QxYXVxcUQ2Y28rRGNyRVE2VmQyaldodFNob2FBeXEvWFo4NjNCUitFYjZIRHgwM2o5di9VVzBCMzdFRzJjRW1sSXUxOGRodUljenhTMWdvRFFJckVtMTVOem51OGdLWUJYOXRya3M9LEV4cGlyeToyMDE3LTA1LTEzfQ==" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <urlCompression doStaticCompression="true" doDynamicCompression="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode"
        resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
  </system.webServer>
</configuration>